<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drawing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED9AF3322631F2B600B0DE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9AF3432631F2B700B0DE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9AF34E2631F2B700B0DE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
